<footer class="footer navbar navbar-default navbar-fixed-bottom" style= "padding:50px;" role="navigation">
  
  <nav>
    <ul>
      <li><%= link_to "About Us", about_us_path %></li>
      <li><%= link_to "Our Team", our_team_path %></li>
      <li><%= link_to "Our Vision", our_vision_path %></li>
      <li><%= link_to "Contact Us", contact_us_path %></li>
      <li><%= link_to "Terms of Service", terms_of_service_path %></li>
      <li><a href="http://news.google.com/news?pz=1&cf=all&ned=us&topic=tc&siidp=c79f09a463f26db73a24412f77c31ec44e1f&zx=wgydqjmxc3p4">Tech News</a></li>
    </ul>
  </nav>
  <br/>
  <small>
    <a href="localhost:3000/home">Bloggy</a>
    by Carlos L Gonzalez
  </small>
</footer>